<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LocalConfigFileName" value="HiddenSettings.config"/>
    <add key="LocalConfigFileTemplateName" value="HiddenSettings.template.config"/>
    <add key="LocalConfigPath" value="..\..\"/>
    <add key="FileSaveDir" value="C:\Web\Files"/>
    <add key="ThreadCount" value="10"/>

    <add key="SpreadSheetName" value=""/>
    <add key="WorkSheetName" value=""/>
    <add key="GoogleLogin" value=""/>
    <add key="GooglePass" value=""/>
    <add key="GoogleHost" value="imap.gmail.com"/>
    <add key="GoogleServiceAccountEmail" value=""/>
    <add key="GoogleServiceAccountKey" value=""/>

    <add key="MailLogin" value=""/>
    <add key="MailPass" value=""/>
    <add key="MailHost" value=""/>
    <add key="DefaultMail" value=""/>
    
    <add key="FindElementTimeOut" value="10"/>
    <add key="AjaxTimeOut" value="30"/>
    <add key="WebDriverTimeOut" value="120"/>
    <add key="TimeOutForLog" value="20"/>

    <add key="ServerName" value="selenium-server-standalone"/>
    <add key="VersionFf" value="41.0.2"/>
  </appSettings>
</configuration>
