<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RemoteWd" value="false" />
    <add key="Address" value="" />
    <add key="Host" value="localhost" />
    <add key="Port" value="4444" />
  
    <add key="Login" value="" />
    <add key="Password" value="" />

    <add key="SqlServer" value="" />
    <add key="SqlUser" value="" />
    <add key="SqlPass" value="" />
    <add key="SqlWindowsAuth" value="" />

    <add key="User" value="" />
    <add key="Pass" value="" />
    <add key="Domain" value="" />
  </appSettings>
</configuration>