<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="RemoteWd" value="" />
  <add key="Address" value="" />
  <add key="Host" value="" />
  <add key="Port" value="" />

  <add key="Login" value="" />
  <add key="Password" value="" />
    
  <add key="User" value="" />
  <add key="Pass" value="" />
  <add key="Domain" value="" />
</appSettings>